.app {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: lightblue url('./asserts/bg.svg') no-repeat fixed top right;
  position: relative;
}

p {
  color: grey;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05rem;
  word-wrap: break-word;
}
